@import "tailwindcss";
@plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark;
  root: ":root";
  logs: true;
}

@theme {
  --breakpoint-2xs: 360px;
  --breakpoint-xs: 480px;
}

@import "@assets/styles/colors.css";
@import "@assets/styles/buttons.css";
@import "@assets/styles/text.css";

body {
  user-select: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.app-maxwidth {
  @apply max-w-[1600px];
}

.bg-bd-blackstones {
  @apply bg-[url('./assets/images/bg_schieferplatten_schwarz.webp')] bg-fixed bg-cover bg-center min-h-screen;
}
