:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

/* 
@font-face {
  font-family: somename;
  src: url(@assets/fonts/???.ttf);
} 

@theme {
  --font-somename: "somename", monospace;
}

*/

body {
  @apply text-bd-darkgray text-xs sm:text-base;
}

h1 {
  @apply py-8 text-[1.3rem] font-bold sm:text-[1.6rem] xl:text-[2rem];
}

h2 {
  @apply py-6 text-[1.2rem] sm:text-[1.4rem] xl:text-[1.8rem];
}

h3 {
  @apply py-4 text-[1rem];
}
